@import "tailwindcss";

@layer base {
  body {
    @apply bg-black text-white;
    margin: 0;
    padding: 0;
  }
}

@keyframes loading {
  0% { width: 0%; }
  100% { width: 100%; }
}

html {
  scroll-behavior: smooth;
}